@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Source+Sans+Pro:wght@300&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Roboto:wght@300;400&family=Source+Sans+Pro:wght@300&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300&family=Open+Sans:ital,wght@0,300;1,300&family=Roboto:wght@300;400&family=Source+Sans+Pro:wght@300&family=Tilt+Prism&display=swap');

    .pay {
        width: 45%;
        margin: 0 auto;
        text-align: center;
        padding: 20px;
        border: 1px solid #000;
        border-radius: 10px;
    }
    .pay h3, .pay h4 {
        font-size: 1.5em;
        margin-bottom: 10px;
        letter-spacing: 3px;
        text-align: center;
        font-family: 'cormacblack'
    }
    .pay form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .pay input[type="text"] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: none;
        background-color: white;
        border-bottom: 1px solid black;
    }
    .pay button[type="submit"] {
        width: 100%;
        background-color: black;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
    }

    .pay p{
        color: black;
        text-align: left;
        width: 100%;
    padding-left: 7px
    }
